.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 0 5vw;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  /* gap: 3rem; */
  flex-wrap: wrap;
  width: 100%;
  position: relative;
}

.overlay {
  flex: 1;
  color: #fff;
  z-index: 10;
  text-align: left;
  width: 50%;
}

.title {
  font-size: clamp(1rem, 5vw, 3rem);
  font-weight: 700;
  margin-bottom: 1rem;
}

.subtitle {
  font-size: clamp(1rem, 2.5vw, 1rem);
  margin-bottom: 2rem;
  max-width: 100%;
  line-height: 1.6;
}

.bikeImageDiv {
  width: 50%;
  display: flex;
  justify-content: center;
}
.bikeImage {
  width: 340px;
  height: auto;
  animation: floatY 2s ease-in-out infinite;
  filter: drop-shadow(0 10px 20px rgba(255, 255, 255, 0.4));
  pointer-events: none;
  z-index: 2;
}

/* Floating animation */
@keyframes floatY {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-12px);
  }
  100% {
    transform: translateY(0);
  }
}

/* Responsive behavior */
@media (max-width: 768px) {
  .content {
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
  }

  .bikeImage {
    width: 240px;
    margin-bottom: 1.5rem;
  }

  .overlay {
    text-align: center;
    width: 80%;
  }
  .subtitle {
    font-size: 13px;
  }
}
