.mainDiv {
  height: 80vh;
  width: 100%;
  background-color: black;
}
/* For Chrome, Edge, Safari */
.listWrapper::-webkit-scrollbar {
  display: none;
}
@media (max-width: 768px) {
  .mainDiv {
    height: 200vh;
  }
}
@media (max-width: 460px) {
  .mainDiv {
    height: 200vh;
  }
}
